apiVersion: v1
baseDomain: devcluster.openshift.com
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: ${WORKERS}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: ${MASTERS}
metadata:
  creationTimestamp: null
  name: ${CLUSTER_NAME}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: ${CNI}
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: ${REGION}
publish: External
pullSecret: '${PULL_SECRET}'
sshKey: |
  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDYfTtxUb0+mm18ek0E9i2yE5F+yAgBYoMb5ag/8T263qIJAaDHSgy5ruDaHdR5lNLJnTVlLyLDZ+5FiS5dLPz2r0Yjaf/GNqau9pRulOavBVJDk/LZ4M7799lmJs5Ytjziec3/6So0cF9ynmOAmgjAn1H+nSSBzOjEYt6H8WUvxbdOP5v67RkcxFlLIEzsvTW+EZzU2uUyCMm2FUt4DbHwbk/p2Z5U4M+aaXDWuNS3ABfUkz9eYSnkbxqNs0Ekf/+M+B122e72/0eStzXN4lCbhDz2otjctsKxN1eplGxPd836d0JbnwSqsTSw+6Dxi6ZtIGwSMOxxNrPYWwTL5rUP flaviof@redhat.com devmaster
    